<ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'insertindex">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insertCustRegistration' }">Insert Customer Registraion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'showproduct' %}">View Avaliable Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insertOrderRequest' %}">Insert Order Requests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insertPaymentInfo' %}">Insert Payment Information</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insertfeedback' %}"> Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'changepassword' %}">Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout </a>
                </li>
</ul>