<ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'insertindex">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'showCustRegistration' }">View Registered Customer's</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'showproduct' %}">View Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'showOrderRequest' %}">View Order Requests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'showPaymentInfo' %}">View Payment Information</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'insertAddProduct' %}">Add Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'showShopReg' %}">Show Registered shop's</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'showFeedback' %}">View Feedback</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'changepassword' %}"> Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
</ul>
